.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-info {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    width: 70%;
    justify-content: space-around; /* Evenly distribute the space around the columns */
    align-items: flex-start;
    position: relative; /* Add relative positioning to manage absolute positioned delimiter */
}

.boards-list, .documents-list {
    width: 45%; /* Adjust width as needed */
    text-align: left; /* Ensure text is aligned to the left */
}

.vertical-delimiter {
    width: 1px;
    background-color: #717171;
    height: auto;
    align-self: stretch;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}